body {
width: 100%;
height: 100%;
  font-family: arial;
  color: #ffffff;
  align-items:center;
}

body * {
animation-name: fade;
animation-duration: 2s;
animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes fade {
0% {opacity:0;transform: translate(-200px,0);}
100% {opacity: 1;transform: translate(0,0);}
}

h1 {
  align: center;
  text-weight: 240;
}

.navbar {
    position: fixed;
    bottom: 0px;
    width: 100vw;
  height: 20vw;
  border-top: 5px solid #ffffff;
}

.navbar li {
  width: 20vw;
  height: 20vw;
    display: inline;
    text-align: center;
}

.navbar li img {
  width: 15vw;
  height: 15vw;
}
